!!!IMPORTANT!!!: Never leave any comments in the code.

When asked to remove something - remove it completely instead of commending out.
Be as brief as possible

When implementing UI components be minimalistic but use just enough styling to make it simple but functional. (not ugly)

High level project overview is in README.md in the root of the project.

## Typescript

Always try to use types  

## Formatting
Use 4 spaces for indentation.  

NEVER leave things like: // import { ConfigService } from '@nestjs/config'; // Unused
